#display {
    justify-content: center;
}

#accountId >div {
    margin: 1rem;
    justify-content: space-between;
}

.form, #accountId >div {
    width: 100%;
}

#accountId, #accountId > div, #accountHead, .form, .space-between, .flex-end {
    display: flex;

}

#accountId {
    flex-direction: column;
    align-items: end;
    width: 30%;
}

#account{
    width: 80%;
}

#accountHead {
    height: 20%;
    justify-content: center;
}

#accountBody {
    height: 80%;
}

#passChg , #userMod{
    width: 40%;
}

.space-between, .flex-end, #accountId >div{
    flex-direction: row;
}

.flex-end, .form {
    justify-content: flex-end;
}

