html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.fa-plus-square, .fa-portrait {
    color: purple;
    font-size: 2rem;
}

.fa-portrait {
    background-color: #d3d231;
}