html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    height: 10%;
    padding-left: 2rem;
    padding-right: 2rem;
}
#menu, #menuAccount, #menuLink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu, #menuAccount{
    justify-content: space-between;
}

.fa-plus-square, .fa-portrait, .fa-times-circle {
    color: purple;
    font-size: 2rem;
}

.fa-portrait {
    background-color: #d3d231;
}

#formConnect {
    width: 100%;
}

#formConnect > form , #display, #menu a, form >div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#formConnect > form {
    justify-content: flex-end;
}

#formConnect > form > div, #formConnect > form > div > *{
    margin-left: 1rem;
    margin-right: 1rem;
}

#menuLog{
    width: 100%;
}

#menuLink{
    width: 90%;
}

#menuLink a{
    margin-left: 1rem;
    border-right: solid 1px blue;
    padding-right: 0.5rem;
    height: 90%;
}

#menuLink a :hover{
    background-color: cornsilk;
}

#menuAccount{
    width: 7%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

i {
    margin-right: 1rem;
}

a {
    text-decoration-line: none;
}

.margin-bottom{
    margin-bottom:  1rem;
}

.border {
    border: cornflowerblue solid 1px;
    border-radius: 10px;
}

.borderRed {
    border: crimson solid 1px;
    border-radius: 10px;
}

.padding {
    padding: 1rem;
}

.space-between {
    justify-content: space-between;
}

.space-between, .flex-end{
    display: flex;
    flex-direction: row;
}